{% extends 'base.html' %}
{% load static %}


{% block title %}Авторизация{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
        <div class="input-field col s6">
        {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="input-field col s12"></div>
         <div class="input-field col s6">
         {{ form.password.label_tag }}
          {{ form.password }}
         </div>
        <div class="input-field col s12"></div>
         <div class="input-field col s6">
        <button class="waves-effect waves-light btn teal" type="submit"
                value="login">Войти
        </button>
         </div>
    </form>
    <div style="margin-top: 0px" class="input-field col s12"></div>
    <div style="margin-top: 0px" class="input-field col s6">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <button class="waves-effect waves-light btn teal lighten-2" type="submit"
                value="register">Регистрация</button>
    </form>
    </div>
{% endblock %}