{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock %}
{% block content %}
    <div class="col s1"></div>
    <div class="col s10" style="background: white">
        {% for news in new.all %}
            <p style="font-family: 'Arial'; font-size: 16px;
                         font-weight: bold; color: #42566b"> {{ news.name }}</p>
            <p style="font-size: 12px; color: #727174">
                {{ news.date_news }}</p>

            <div style="background: white; text-align: left">

                        <pre style="white-space: pre-wrap">
                            <span style="color: #363538; font-size: 14px;
                                font-family: 'Bookman Old Style'">{{ news.news|safe }}
                        </span></pre>
            </div>
            <br>
        {% endfor %}
    </div>
    <div class="col s1"></div>
{% endblock %}