{% extends 'base.html' %}
{% load static %}


{% block title %}Регистрация{% endblock %}
{% block content %}
     <form action="" method="post">
      {% csrf_token %}
      <div class="input-field col s6">
       {{ form.username.label_tag }}
         {{ form.username }}
          </div>
         <p>
         <div class="input-field col s12"></div>
          <div class="input-field col s6">
       {{ form.password1.label_tag }}
          {{ form.password1 }}
            </div>
         <div class="input-field col s12"></div>
         <div class="input-field col s6">
         {{ form.password2.label_tag }}
       {{ form.password2 }}
         </div>
{#          {{ form.as_p }}#}
         <div class="input-field col s12">
      <button class="waves-effect waves-light btn teal lighten-2" type="submit"
      >Зарегистрироваться</button>
             </div>
    </form>
{% endblock %}